.search-box {
  background-color: lawngreen;
  width: 0;
}

.active {
  width: 600px;
}

.input {
  
  background-color: lightblue;
  transform: translate(-50%, -50%);
}

.label {
  display: inline-block;
}
