@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Rokkitt:700&display=swap');

body {
  background-color: #f4f5f6;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.custom-cont {
  max-width: 1315px;
  margin: auto;
}

/* header */

.bottom-nav-item {
  flex-grow: 1;
  font-size: 120%;
  line-height: 1.3;
}

.bottom-nav-item:not(.first) {
  border-left: 1px solid lightgrey;
}

.search-li {
  flex-grow: 1;
  position: relative;
}

.container {
  width: 1200px;
}

.secendry-header {
  padding: 13px;
  height: 50px;
}

.secendry-header div {
  margin: auto 0;
}

.logo {
  font-family: Rokkitt, 'Courier New', Courier, monospace;
  line-height: 0.8;
}

.nav-btns-cont {
  flex-direction: row;
}

.nav-btns-cont div {
  height: 25px;
}

.nav-btns {
  font-size: 110%;
}

.nav-btns > a:nth-child(2) {
  color: #f72210;
}

.date-weather-cont {
  font-size: 90%;
  flex-direction: column;
  justify-content: space-around;
  height: 76px;
}

.date-weather-cont > a:first-child {
  font-size: 94%;
}

.search-li label {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: -20px;
}

.search-li input {
  width: 80px;
  border: 0;
  flex: 1;
}

.search-li input:focus {
  width: 100%;
  outline-width: 0;
}

.last-li {
  width: 66px;
}

.red-shape {
  width: 66px;
  border-top: 12px solid #f72210;
  border-left: 13px solid rgba(238, 238, 238, 0);
  position: absolute;
  top: 0;
  right: 0;
}

h5 {
  font-size: 99%;
}

.newsletter-box {
  max-width: 100%;
  width: 346px;
  margin: 25px auto;
}

.signup-header {
  font-size: 19px;
}

.title-section-main {
  font-size: 18px;
  color: lightgray;
}

.cat-tag {
  bottom: 0;
  color: red;
  padding: 3px 13px;
  opacity: 0.7;
}

.def-font {
  font-size: 19px;
}

.grid-wraper img {
  width: 100%;
}

.mag-tag-box {
  bottom: 0;
}

.lable-featured {
  bottom: 0;
  left: 0;
}

.mag-img-cont {
  width: 260px;
  height: 241px;
}

.mag-img-cont > img:last-child {
  bottom: 0;
  right: 0;
}

.mag-img-cont > img:first-child {
  top: 0;
  left: 0;
}

.sign-block-img {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&amp;h=265&amp;q=90&amp;f=742bce9a6f72dd8f19ba2e7fd5db06e5&quot;) center center / cover no-repeat;
  min-width: 200px;
  height: 311px;
}

/* custom colors */

.bg-red {
  background-color: #f72210;
}

.text-red {
  color: #f72210;
}

.text-grey {
  color: #666;
}

.custom-py-4-5 {
  padding-top: 36px;
  padding-bottom: 36px;
}

/* font sizes  */

.footer-logo {
  font-size: 55px;
}

.social {
  font-size: 27px;
}

.block-title {
  font-size: 22px;
}

.subs-title {
  font-size: 16px;
}

.lower-footer ul li {
  border-right: 1px solid #666;
  line-height: 1;
  font-size: 96%;
}

/* Media queries  */

@media only screen and (max-width: 767px) {
  .lower-footer ul li {
    border-right: 0;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .right-nav-secendary {
    font-size: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .weather-cont {
    display: none;
  }
}
